.questionContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #228be6;
}

.question {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.optionLabel {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.radioInput {
    margin-right: 10px;
}

.optionLabel:hover {
    color: #4CAF50;
    cursor: pointer;
    transition: color 0.3s ease;
}


.formButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formButton:hover {
    background-color: #45a049;
  }
  
  .quizButton,
  .formButton {
    margin-top: 20px;
    margin-right: 10px; /* Add right margin for spacing between buttons */
    padding: 12px 24px;
    font-size: 16px;
    background-color: #014683;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block; /* Display buttons inline */
  }
  