/* Form.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.formContainer {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.formContainer label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

.formContainer input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.formContainer input[type="text"]:focus {
    border-color: #9775fa;
}

.formContainer button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #9775fa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formContainer button:hover {
    background-color: #7e5bdb;
}

button:disabled {
    cursor: not-allowed;
}
