.homeContainer {
    text-align: center;
    padding: 50px;
}

.heading {
    font-size: 36px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.feature {
    width: 300px;
    margin: 0 20px 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.feature:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cta {
    margin-top: 40px;
}

.startButton {
    background-color: #007BFF;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.startButton:hover {
    background-color: #0056b3;
}
