*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    font-size: 100%;
    font-family: Arial, sans-serif;
    background-image: url('./../Images/download.png');
    background-size: 200rem;
    background-repeat: no-repeat;
}

body {
    background-color: #f2f2f2; /* Light gray background color */
}

.container h1{
    color:#fff;
}
.container
{
    max-height: 50%;
    height:40rem;
    max-width: 50%;
    width: 40rem;
    background-color: #000;
    color: #ced4da;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:1rem;
        
}
.form
{
    
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
    gap: 1.5rem;
}

.form .input
{
    outline: none;
    border: none;
    border-bottom: 1px solid #495057;
    background-color: #000;
    color: white;
    width: 100%;
}

.img
{
    max-height: 50%;
    height:40rem;
    max-width: 50%;
    width: 40rem;
}
.homepage
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
}

.form .button
{
    border: none;
    border-radius: 6px;
    align-self: center;
    padding: 10px;
    width: 8rem;
    background-color: #212529;
    color: #ffd43b;
}

.container a:link,.container a:visited{
    text-decoration: none;
    color: #ffd43b;
}

.invalid{
    color: #ff0000;
}
/* Login.module.css */

.footer {
    background-color: #212529;
    color: #ffd43b;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.footerDiv {
    margin-bottom: 1rem;
}

.footerLink:link {
    color: #ffd43b;
    text-decoration: none;
    border: none;
    margin: 0 0.5rem;
}

.footerLink:hover {
    text-decoration: underline;
}

.footerLink:link,
.footerLink:visited {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}




@media (max-width: 768px) {
   .homepage{
    font-size: 62.5%;
   }
   .form input{
    font-size: 8px;
   }
  }
  