/* QuizCode.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .formContainer {
    background-color: #228be6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .label {
    font-size: 20px;
    color: #f0f0f0;
    margin-bottom: 15px;
    display: block;
    font-style: italic;
    font-weight: 600;
    
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    
  }
  
  .button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #1971c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #104e88;
  }
  
  .invalid{
   color: red
  }